<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidquizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--TODO: Complete activity manifest implementation-->
        <activity android:name=".level.LevelSelectionActivity" android:label="@string/app_name"/>
        <activity
            android:name=".question.QuestionsActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".level.LevelSelectionActivity">

            <!-- Parent activity meta data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".level.LevelSelectionActivity" />

        </activity>
        <activity android:name=".level.LevelStatisticsActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>